In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("train.txt",sep=";",header=None,names=["text","emotion"])

In [3]:
df.head()

                                                text  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [4]:
df.isnull().sum()

text       0
emotion    0
dtype: int64

In [5]:
unique_emotion=df["emotion"].unique()
emotion_numbers={}
i=0
for j in unique_emotion:
    emotion_numbers[j]=i
    i+=1

df["emotion"]=df["emotion"].map(emotion_numbers)

In [6]:
df.head()

                                                text  emotion
0                            i didnt feel humiliated        0
1  i can go from feeling so hopeless to so damned...        0
2   im grabbing a minute to post i feel greedy wrong        1
3  i am ever feeling nostalgic about the fireplac...        2
4                               i am feeling grouchy        1

In [7]:
df["text"]=df['text'].apply(lambda x:x.lower())

In [8]:
import string

def remove_punc(txt):
    return txt.translate(str.maketrans('','',string.punctuation))

In [9]:
df["text"]=df['text'].apply(remove_punc)

In [10]:
def remove_numbers(txt):
    new=""
    for i in txt:
        if not i.isdigit():
            new=new+i
    return new
df["text"]=df['text'].apply(remove_numbers)

In [11]:
def remove_emoji(txt):
    new=""
    for i in txt:
        if not i.isascii():
            new=new+i
    return new
df["text"]=df['text'].apply(remove_emoji)

In [12]:
#NLTK for removing the stop words like (is,the,are etc)
import nltk

In [13]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [14]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Karan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Karan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
stopwords=set(stopwords.words('english'))
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [16]:
# Method 1: Check if the DataFrame has the expected structure
print("DataFrame shape:", df.shape)
print("DataFrame columns:", df.columns.tolist())
print("DataFrame index:", df.index.tolist()[:10])  # Show first 10 indices

# Method 2: Safer way to access a specific row and column
# First check if the index exists
if 1 in df.index and 'text' in df.columns:
    print("Text at index 1:", df.loc[1, 'text'])
else:
    print("Index 1 or column 'text' doesn't exist")

# Method 3: Alternative ways to access the first few rows
# If you want the second row (index might not be 1)
print("\nSecond row using iloc:")
if len(df) > 1:
    print(df.iloc[1]['text'] if 'text' in df.columns else "No 'text' column")

# Method 4: Display the first few rows to inspect the data
print("\nFirst 3 rows of the DataFrame:")
print(df.head(3))

DataFrame shape: (16000, 2)
DataFrame columns: ['text', 'emotion']
DataFrame index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Text at index 1:

Second row using iloc:


First 3 rows of the DataFrame:
  text  emotion
0             0
1             0
2             1

In [17]:
df.loc[4]['text']

''

In [18]:
def remove(txt):
    words=word_tokenize(txt)
    cleadned=[]
    for i in words:
        if not i in stopwords:
            cleadned.append(i)
    return ' '.join(cleadned)

In [19]:
# First, download the required NLTK resource
import nltk
nltk.download('punkt')

# Then run your original code
df['text'] = df['text'].apply(remove)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Karan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [20]:
df.loc[4]['text']

''

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['text'],df['emotion'], test_size=0.20, random_state=42)